*~
\#*\#

.repl-*
.nrepl-*

.lein-*
*.gcode
*.scad
*.dxf
/target
.idea/
.idea
.DS_Store
*.FCStd1
debug_*
*/__pycache__/*
*.py[cod]
*~$*
things/
things/*.scad
things/*.step
things/*.stl
config/
.iml
**/*.iml

